$blue: #06B6FA;
$dark-blue: #024864;
$green: #0AD09B;
$dark-green: #056149;

html {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #666;
    background-color: #555;
}

body {
    padding: 0;
    margin: 0;
    background-color: #555;
}

.app-wrapper {
    background-color: #555;
}

@import './navbar-layout.scss';
@import './store.scss';
@import './contact.scss';
@import './tos.scss';
@import './examples.scss';
@import './auth.scss';